/* h1:hover {
  color: blue;
  background-color: orangered;
}

input:focus {
  color: red;
  background-color: teal;
}

button:focus {
  border-radius: 10px;
  background-color: #99badd;
}

button:active {
  background-color: orangered;
  font-size: 20px;
}

h1:active,
p:active {
  color: yellow;
} */

/* Code for the animated button found below! */
